body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 30px;
}

.container {
    background-color: #fce8e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px; /* Agregado para separación superior */
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px; /* Ajustado para que sea más similar al botón en el primer formulario */
    margin: 10px 0; /* Ajustado para mayor separación */
    background-color: pink;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(228, 117, 136);
}


